.container{
    background-color: blue;
    width: 10000;
    margin: 30px auto;
    display: grid;
    margin: 30px auto;
    padding: 10px;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: repeat(3,150px) 1fr;
    gap: 20px;

    }
    .item1{
        background-color: brown;
    } 
    .item2{
        background-color: blueviolet;
    }
    .item3{
        background-color: red;
    }
    .item4{
        background-color: azure;
    }
    .item5{
        background-color: antiquewhite;
    }
    .item6{
        background-color: yellowgreen;
    }


